@charset "UTF-8";

@font-face {
    font-family: 'Agent Orange';
    src: url(../fontes/AGENTORANGE.TTF);
}

@font-face {
    font-family: 'Blomster';
    src: url(../fontes/Blomster.ttf);
}
/*Tipos de fontes externas*/
:root {
    --cor: #e374a6de;
    --cor: #AE75F4;
    --cor: rgba(0, 0, 0, 0.397);
}

/*Cor e espaçamento da paágina de fundo*/
body {
    background-color: #e374a6de;
    text-align: center;
}

a.externo::after {
    content: '\00A0\1F517';
}
/*Cabeçalho*/
header {
    min-width: 200px;
    text-align: center;
    font-size: 20px;
}
/*Vovó Docinho*/
header > h1 {
    color: white;
    font-family: 'Blomster',Arial, Helvetica, sans-serif;
    font-size: 4em;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 1px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);
}
/*Histórias Infântis*/
header > p {
    font-family: 'Agent Orange',Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    padding: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);
}
/*MENU, home, histórias, etc...*/
nav {
    /*Estilo de fonte dos menus*/
    font-family: Arial, Helvetica, sans-serif;
    /*Cor de fundo do box dos menus*/
    background-color: #AE75F4;
    /*Espaçamento do box do menu*/
    padding: 8px;
    /*Tamanho da fonte do box do menu*/
    font-size: 12px;
    /*Arredondamento das bordas do menu*/
    border-radius: 10px 10px 0px 0px;
   
}
/*Arredondamento do menu e animação ao passar o mouser*/
nav > a {
    color: white;
    padding: 3px;
    /*border-radius: 5px;*/
    text-decoration: none;
    font-weight: normal;
    transition-duration: .3s;
}
/*Fade dos menus*/
nav > a:hover {
    background-color: #e374a6de;
    color: white;
}
main {
    /*Configurações do box principal da página, deixa todos os conteúdos dentro do box, cor de fundo com transparencia, cor do texto, espaçamento dos textos, etc*/
    color: rgb(109, 109, 109);
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*TEXTO PROJETO*/
main h1 {
    color: #AE75F4;
    font-family: 'Agent Orange', Arial, Helvetica, sans-serif;
    font-size: 30px;
}
/*Degrade e textos e largura e altura do h1 e h2 */
main h2 {
    /*Fonte dos box h1 e h2*/
    font-family: 'Agent Orange', Arial, Helvetica, sans-serif;
    /*Cor das fontes dentro do box h1 e h2*/
    color: white;
    /*Tamanho das fontes dos box h1 e h2*/
    font-size: 1em;
    /*Largura das fontes dos box h1 e h2*/
    font-weight: bold;
    /*Cor de fundo dos box h1 e h2*/
    background-color: #AE75F4;

    text-indent: 20px;
    /*Deixa o texto alinhado no centro*/
    text-align: center;
    /*Arredondamento das bosrdas do box*/
    border-radius: 10px;
    /*Espaço do box dos tiltulos principais, ex: fundador, personagens, etc...*/
    padding: 15px;
    /*Arredondamento dos box h1 e h2*/
    border-radius: 10px 10px 10px 10px;
    /*Sombra dos box h1 e h2*/
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.363);
}
/*Espaçamento, cor, fonte e estilo dos textos*/
main p {
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1em;
}
/*Inicio das frases dos textos em blocos*/
main strong {
    color: #AE75F4;
    font-weight: bold;
}

main iframe {
    border: 10px solid #AE75F4;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
    width: 320px;
    height: 200px;
    padding: 0.5px;
}

/*Entre em contato pelo nossos canais*/
aside p {
    /*Cor de fundo do box*/
    background-color: #AE75F4;
    /*Tamanho da fonte dentro do box*/
    font-size: 1em;
    /*Volume para a fonte, deixa fonte mais grossa*/
    font-weight: bold;
    /*Cor da fonte dentro do box*/
    color: white;
    /*Fonte usada dentro do box*/
    font-family: 'Agent Orange', Arial, Helvetica, sans-serif;
    /*Alinhamento da fonte dentro do box*/
    text-align: center;
    /*Espaçamento do box*/
    padding: 20px;
    /*Arredondamento do box*/
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.363);
}
/*Roda pé do site*/
footer {
    color: white;
    font-size: 15px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
}
footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: white;
}